.nav-bar {
    background: #000;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo{
        display: block;
        padding: 8px 0;

        img{
            display: block;
            margin: 18px auto;
            width: 72px;
            height: auto;

            &.sub-logo{
                width: 50px;
            }

        }
    }
    nav{
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a{
            font-size: 28px;
            color: #9668e0;
            display: block;
            line-height: 51px;
            height: 51px;
            width: auto;
            position: relative;
            text-decoration: none;
            
            // i{
            //     transition: all 0.9s ease-in-out;
            // }

            &:hover{
                color: aqua;
                svg{
                    opacity: 0.2;
                    
                }
                &:after{
                    opacity: 1;
                }
            }

            &:after{
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            &:first-child{
                &::after{
                    content: "HOME";

                }
            }
        }
            a.about-link{
                &:after{
                    content: "PROJECTS";
                }
            }
            a.Home-link{
                &:after{
                    content: "HOME";
                }
            }
            a.contact-link{
                &:after{
                    content: "RESUME";
                }
            }

            a.active{
                svg{
                    color: white;
                }
            }
        }
    }
    // .icons svg{
    //     width:100%
    // }
    ul{
        position: absolute;
        bottom: 70px;
        width: 100%;
        display: block;
        padding: 0%;
        list-style: none;
        text-align: center;
        margin: 0;

        li{
            a{
                padding: 7px 0;
                display: block;
                font-size: 30px;
                line-height: 29px;
                color: aliceblue;

                &:hover svg{
                    color: aqua;
                }
            }
        }
    }

    
